<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context-4.0.xsd
      http://www.springframework.org/schema/util
      http://www.springframework.org/schema/util/spring-util.xsd
      http://www.springframework.org/schema/aop
      http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
      http://www.springframework.org/schema/mvc
      http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd"
       default-lazy-init="false">

    <!-- Ê¹ÓÃannotation ×Ô¶¯×¢²ábean -->
    <!--<context:component-scan base-package="com.bestpay.agreement"/>-->
    <!--<context:component-scan base-package="com.bestpay.product"/>-->

    <!-- Êý¾ÝÔ´ÅäÖÃÎÄ¼þ -->
    <!--<import resource="spring-datasources.xml"/>-->

    <!-- dubboÏû·ÑÕßÅäÖÃÎÄ¼þ -->
    <import resource="dubbo-consumer.xml"/>

    <!-- dubboÉú²úÕßÅäÖÃÎÄ¼þ -->
    <!--<import resource="dubbo-provider.xml"/>-->

    <!-- spring mvc ÅäÖÃÎÄ¼þ -->

    <!-- spring-redis ÅäÖÃ -->
    <!--<import resource="spring-redis.xml"/>-->


</beans>